body {
    	margin: 0;
}

#fixedbar ul {
	position: fixed;
	margin: 0;
	padding: 2px;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	background-color: #666600;
	width: contain;
	height: 60px;
	left: 0;
	right: 0;
	text-align: center;
	font: sans-serif;
	font-weight: bold;
	font-size: relative;

}

li {
	float: center;
}

li a {
	display: block;
	color: white;
	margin: 0;
	padding: 20px 50px;
	text-decoration: none;
	list-style: none;
	text-align: center;
}

#fixednav li {
	display: inline-block;


}
#fixednav .active {
    background-color: white;
    color: #661a00;
}

/* Change the link color on hover */
#fixednav li a:hover {
    background-color: #661a00;
    color: white;
}


/*Footer Styling*/

.universial-footer {
     font-size: 0.75em;
     text-align: center;
     clear:both;
     padding-top: 50px;
     background-color: #666600;
     color: white;
}

.social-icon {
      width: 42px;
      height: 42px;
      margin: 0 5px;
}
