div#parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prod-pic {
  width: 75%;
  height: 40%;
}

.products {
  text-align: center;
  padding-top: 1%;
  border: 3px solid goldenrod;
  width: 20%;
  height: 25em;
  overflow: scroll;
  margin-top: 1em;
  margin-bottom: 1.5em;
  background-color: #949494;

}

.products p {
 padding: 0 5%;
}
